.product-item {
    width: 100%;
}

.product-item__preview-holder {
    width: 220px;
    height: 150px;
    display: inline-block;
}

.product-item__preview-image {
    width: 100%;
}

.product-item__description {
    margin: 20px 0 20px 20px;
    display: inline;
}